<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wing.description %>
</p>

<%= link_to 'Edit', edit_wing_path(@wing) %> |
<%= link_to 'Back', wings_path %>
