<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<%= link_to 'Edit', edit_gear_path(@gear) %> |
<%= link_to 'Back', gears_path %>
