<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fuselage.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fuselage.description %>
</p>

<%= link_to 'Edit', edit_fuselage_path(@fuselage) %> |
<%= link_to 'Back', fuselages_path %>
