<%= form_for(plane) do |f| %>
  <% if plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
      <% plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :mass %>
    <%= f.text_field :mass %>
  </div>

  <div class="field">
    <%= f.label :budget %>
    <%= f.text_field :budget %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.collect {|cat| [cat.name, cat.id]} %>
  </div>  

  <div class="field">
    <%= f.label :engine %>
    <%= f.select :engine, Engine.all.collect {|cat| [cat.name, cat.id]} %>
  </div> 

  <div class="field">
    <%= f.label :wing_surface %>
    <%= f.text_field :wing_surface %>
  </div>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
